/* BASE - All major html elements (h1, h2, a, etc) go here*/

#header {
  position: relative;
  top: 50px;
}



/* SECTIONS */

	/* NAV SECTION */
#radio {
  padding-left: 10px;
}

	/* HEADER SECTION */


	/* FOOTER SECTION */